include LICENSE
include README.md
include CHANGELOG.md
include pyproject.toml
include setup.py
recursive-include tests *.py
prune __pycache__
prune *.pyc
prune .git
prune build
prune dist
prune *.egg-info
recursive-include src/pynetim *.py *.pyi *.h *.cpp *.hpp *.c *.cu
recursive-include src/pynetim/cpp *
global-exclude *.so *.pyc *.pyo *.egg
prune */__pycache__
